doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='bundle.css')
    title Globe
  body
    h1 Globe
    .main
    script(src='./vendor/js/dat.gui.min.js')
    script(src='./vendor/js/three.min.js')
    script(src='./vendor/js/OrbitControls.js')
    script(src='./js/globe.bundle.js')

