doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='bundle.css')
    title Ground
  body
    h1 Setting Ground
    .main
    script(src='./vendor/js/three.min.js')
    script(src='./js/ground.bundle.js')