doctype html
html
  head
    title Dungeon
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/css/dungeon/style.css')
  body
    img#forward.control_btn(src='/images/dungeon/forward_btn.png')
    img#stop.control_btn(src='/images/dungeon/stop_btn.png')
    img#back.control_btn(src='/images/dungeon/back_btn.png')
    img#jump.control_btn(src='/images/dungeon/jump_btn.png')
    img#turn_right.control_btn(src='/images/dungeon/right_btn.png')
    img#turn_left.control_btn(src='/images/dungeon/left_btn.png')
    script(src='/vendor/js/three.min.js')
    script(src='/vendor/js/jquery-1.11.1.min.js')
    script(src='/vendor/js/stats.js')
    script(src='/js/dungeon/map.js')
    script(src='/js/dungeon/functions.js')
    script(src='/js/dungeon.bundle.js')

